<div class="list-details">
  <h4><%= @city.city_plus_country %></h4>
  <span class="bold-text">Average Rating: </span><%= @city.avg_rating %><br>
  <p><span class="bold-text">Total Reviews: </span><%= @city.destinations.count %></p>

  <% @city.destinations.each do |trip| %>
    <div class="underlined-list">
      <%= destination.comment %>
      <p>- <%= destination.user.name %> (<%= trip.rating %> stars)</p>
    </div>
  <% end %>

  <% if !Destination.exists?(user_id: current_user.id, city_id: @city.id) %>
    <%= link_to "Been to #{@city.name}? Add it to your destinations!", new_user_destination_path(:user_id => current_user.id, :city_id => @city.id) %>
  <% end %>
</div>